{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if msg %}
    <br />
    <p class="warning">{{ msg }}</p>
{% endif %}
{% if authform.errors %}
<div class="errors">
    <p>{% trans "Please correct errors below:" %}<br />
    {% if authform.username.errors %} 
        <span class="error">{{ authform.username.errors|join:", " }}</span>
    {% endif %}
    {% if authform.password.errors %} 
        <span class="error">{{ authform.password.errors|join:", " }}</span>
    {% endif %}
    </p>
</div>
<br />
{% endif %}

{% if openidform.errors %}
<div class="errors">
    <p><span class="error">{{ openidform.openid_url.errors|join:", " }}</span></p>
</div>
<br />
{% endif %}
<h2>Make a choice:</h2>
<p><a href="{% url registration_register %}">Register</a> | <a href="{% url user_signin %}">Log-In</a></p>
<div class="login">
    <form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <fieldset>
            <legend>{% trans "Sign In Using Your Account ID" %}</legend>
            <div class="form-row"><label for="id_username">{% trans "Username:" %}</label><br />{{ authform.username }}</div>
            <div class="form-row"><label for="id_password">{% trans "Password" %}</label><br />{{ authform.password }}</div>    
            <div class="submit-row"><input type="submit" name="blogin" value="{% trans "Sign in" %}"></div>
        </fieldset>
    </form>
    <form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="verify" />
        <input type="hidden" name="next" value="{{ next }}" />
        <fieldset>
            <legend>{% trans "Sign In Using Your OpenID URL" %}</legend>
            <div id="openid_choice">
                <p>Please click your account provider:</p>
                <div id="openid_btns"></div>
            </div>
            <div id="openid_input_area">
                <label for="id_openid_url">{% trans "OpenId URL :" %}</label>{{ openidform.openid_url }}
                <input name="openid_submit" type="submit" value="{% trans "Sign in with OpenID" %}">
            </div>    
        </fieldset>
    </form>
</div>  
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/openid-jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    openid.init('id_openid_url');
});
</script>
{% endblock extra_scripts %}

